:root {
  --purple: purple;
}

.carousel-item {
  max-height: calc(100vh - 100px);
}

.carousel-caption {
  top: 50%;
}

.banner {
  background: url(../images/banner.jpeg) no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  color: purple;
  height: 100vh;
}

.circle {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px px;
  color: #fff;
  background-color: #dc3545;
  padding: 30px;
}


.card{
    border:1px solid rgba(0, 0, 0, 0.05) ;
    padding: 1.5rem !important;
    transition: padding 0.5s;
}

.card:hover{
    border:1px solid rgba(0, 0, 0, 0.3) ;
    padding: 1.3rem !important;
    cursor: pointer;
}

